:root {
    --header-bg: #3ebfff;
}
/* rgba(62,191,255,255) */
nav{
    display: flex;
    background-color: #3ebfff;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    color: white;
}

.logo{
    padding: 1rem;
}
.links{
    display: flex;
    border: 1px solid red;
    width: 300px;
    height: 40px;
}
.links a{
    color:white;
    text-decoration: none;
    /* width: 30px; */
    /* padding-right: 2rem; */

}

.contact{
    border: solid 1px;
}

/* .hero{
    height: 100vh;
    /* background-color: rgba(62,191,255,200); */
    background-image: url(/images/desktop/image-header.jpg);
    background-size: cover;
    background-position: bottom;
} */